body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
}

header, footer {
    background-color: #c3a383;
    padding: 20px;
    margin: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex: 1;
}

.sidebar {
    flex: 1;
    min-width: 200px;
    padding: 20px;
    margin: 10px;
    background-color: #b69574;
}


.content {
    flex: 2;
    min-width: 200px;
    padding: 20px;
    margin: 10px;
    background-color: #b69574;
}
    
.heading{
    display: flex;
    justify-content: flex-start;
}

h2 {
    margin-top: 0;
    margin-bottom: 20px;
}

.store {
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .store h2 {
    margin-bottom: 10px;
  }
  
  .store-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .store-list li {
    margin-bottom: 5px;
  }
  
  .store-link {
    text-decoration: none;
    color: #333;
  }
  
  .store-link:hover {
    color: #000;
  }
  .responsive-image{
    max-width: 100%;
    width: 100px;
    object-fit: contain;
    height: auto;
  }
  

